@import './../node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: #121417;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  height: auto;
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(239, 237, 232, 0.1);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #bfcce9;
  border-radius: 12px;
}
